@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fbf9f6;
  backdrop-filter: blur(10px);
}

.navbar .logo {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

.nav-item {
  display: flex;
}

.nav-item li {
  margin-left: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.login-btn {
  width: 80px;
  height: 40px;
  background: #fe6770;
  border-radius: 5px;
}

li a {
  color: #000;
}

li .login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
