* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 28px 123px;
  background: #fbf9f6;
}

.footer {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  
  margin-left: 8px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: center;
}
