body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

  body {
    background-color: #fffff3;
   
  }
  
  
  header {
    padding: 28px 0;
    margin-left: 5%;
    margin-top: 0%;
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-link {
    color: #000;
    display: flex;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
  }
  
  nav a img {
    margin-right: 16px;
  }
  
  header ul {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    display: inline;
    list-style: none;
    margin: 0 25px;
  }
  
  .nav-item a {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
  }
  

input[type=text], select, textarea {
  width: 100%;
  padding-right: 20%;
  padding: 12px;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #FF4365;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:100%;
}

input[type=submit]:hover {
  background-color: #FF4365;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 12cm;
  margin-left: 100px;
  box-shadow: 5px 10px 18px #888585;
}

.right{
    padding: 20px;
    margin-right: 200px;
    margin-top: -500px;
}