* {
  margin: 0;
  padding: 0;
}

#title {
  padding: 0 120px;
  background-color: #fffff3;
  font-family: "Roboto", sans-serif;
}

/* body {
    padding: 0 120px;
} */

header {
  padding: 28px 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  color: #000;
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
}

nav a img {
  margin-right: 16px;
}

header ul {
  display: flex;
  align-items: center;
}

.nav-item {
  display: inline;
  list-style: none;
  margin: 0 25px;
}

.nav-item a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}

a.login-btn {
  width: 80px;
  height: 40px;
  background: #ff4365;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffcfe;
}

.hero-img {
  width: 1196px;
  height: 450px;
  background-image: url("../images/maldives-img.png");
  position: relative;
  margin: auto;
  border-radius: 15px;
  color: #ffffff;
  font-family: Montserrat;
  position: relative;
}

.hero-text-sub {
  width: 68%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.hero-text {
  font-size: 38px;
  line-height: 46px;
  font-weight: 800;
  color: #ff4365;
}

.title-text {
  position: absolute;
  top: 152px;
  left: 54px;
}

.menu-option {
  width: 1000px;
  height: 114px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 16px 40px rgba(109, 141, 173, 0.15);
  border-radius: 15px;
  position: absolute;
  bottom: -32px;
  left: 98px;
  margin: auto;
  padding: 48px 74px;
}

.menu-option ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu-option ul li a {
  color: #030301;
  font-size: 18px;
  line-height: 21px;
}

#hotel-section {
  padding: 120px 122px 0;
  background-color: #fffff3;
  font-family: Roboto;
}

#hotel-section h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.03em;
  color: #030301;
  padding-bottom: 60px;
}

#hotel-section h1 span {
  color: #00d9c0;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel {
  flex-basis: 336px;
  height: 192px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 16px 40px rgba(109, 141, 173, 0.15);
  margin-bottom: 32px;
  cursor: pointer;
}

.hotel .place-div {
  position: absolute;
  top: 125px;
  left: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #254554;
}

.hotel .location-div {
  position: absolute;
  top: 162px;
  left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #a7acb0;
}

.fa-map-marker-alt {
  color: #ff4365;
  margin-right: 8px;
}

.hotel .discound-div {
  position: absolute;
  top: 134px;
  right: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 14px;
  color: #ff4365;
}

.hotel .bookmark-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

#footer {
  background-color: #ff4365;
  padding: 40px 122px;
  color: #fffcfe;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
}

.about-us-div .heading {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 32px;
}

.about-us-div p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.social-media-pages {
  margin-top: 20px;
}

.social-media-pages i {
  margin-right: 16px;
}

.usefull-links-div ul {
  display: flex;
  flex-direction: column;
    line-height: 2;
  }

.usefull-links-div ul li {
  list-style: none;
  text-align: left;
}

.additional-link-div ul {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.additional-link-div ul li {
  list-style: none;
}

.usefull-link-heading, .additional-link-heading {
  padding-bottom: 2rem;
}

@media (max-width: 764px) {
  #hotel-section h1 {
    color: rebeccapurple;
  }
  
  .hero-img {
    width: 80%;
  }
}